.login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    border: 1px solid #67a3d9;
  }

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
}